h2{
    color:bisque;
    background-color: orangered;
    border-radius: 7px;
    padding: 7px;
}
ul{
    display: block;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    color:black;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul li a:hover{
    background-color: bisque;
}